/*FONTS*/
@font-face {
    font-family: Roboto;
    src: url(./res/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(./res/Roboto-Bold.ttf);
}

/*RESETS*/
*{
	box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
	padding:0px;
	margin:0px;
}

/*STANDARD STYLES*/
body, html{
	height:100%;
}
body{
	background-color:#e5e5e5;
	display:flex;
	flex-direction:column;
	color:#1F1F1F;

	/*min-height:600px;*/
}
b{
	font-weight:normal;
	font-family:'Roboto-Bold', sans-serif;
}
a{
	color: #3577e0;
	text-decoration: none;
}
label{
	cursor:pointer;
}
p{
	margin-bottom:15px;
}

/*STANDARD TABLE*/
table{
	width:100%;
	table-layout:fixed;
	border-radius:4px;
	background-color:#ededed;
	max-width:100%;
	border-collapse:collapse;
}
td:last-child, th:last-child{
	width:70px;
	padding-left:0px;
}
tr:last-child{
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
}
tr>th:nth-child(4), tr>td:nth-child(4) {
	width:70px;
}
tr>th:last-child, tr>td:last-child {
	width:50px;
}
tr>th:nth-child(3), tr>td:nth-child(3){
    width:224px;
}
tr>td:nth-child(3){
	text-align:left;
}
tr>th:nth-child(2), tr>td:nth-child(2) {
    width:125px;
}
th, td{
    padding-left:10px;
	height:40px;
	line-height:40px;
}
th{
	font-weight:normal;
	background-color:#dedede;
}
tr>th:first-child{
	border-top-left-radius:4px;
}
tr>td:first-child{
	text-align:left;
}
tr>th:last-child{
	border-top-right-radius:4px;
}
td{
	text-align:center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#2b2b2b;
}
tr{
	border-bottom:1px solid #dedede;
}
tr:first-child{
	border:0px;
}
tr:last-child{
	border:0px;
}

/*NAVIGATION*/
.menu{
	width:100%;
	list-style:none;
	display:flex;
	flex-wrap: wrap;
	flex-direction:row;
}
.menu>li{
	flex-shrink:0;
}
.menu>li, .menu>li>a{
	display:inline-block;
}
.menu>li>a{
	text-decoration:none;
}
.menu>li>a:hover{
	cursor:pointer;
}

/*NAVIGATION EXTENSIONS*/
.nav{
	height:50px;
}
.nav>li, .nav>li>a{
	height:50px;
}
.nav>li>a{
	color:white;
	padding-left:15px;
	padding-right:15px;
	line-height:50px;
}
.nav>li>a:hover{
	background-color:#2758a5;
}

.menu-bleak>li>a{
	color:gray;
	padding-right:5px;
	padding-left:5px;
	transition:0.3s ease-out all;
}
.menu-bleak>li:first-child>a{
	padding-left:0px;
}
.menu-bleak>li:last-child>a{
	padding-right:0px;
}
.menu-bleak>li>a:hover{
	color:#3577E0;
}

.side-menu>li, .side-menu>li>a{
	width:100%;
}
.side-menu>li>a{
	border-radius:4px;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
}
.side-menu>li>a:hover{
	text-decoration:underline;
}

.page-numbers{
	list-style:none;
	height:40px;
	border-radius:4px;
}
.page-numbers, .page-numbers>li, .page-numbers>li>a, .page-numbers>li>span{
	display:inline-block;
	height:40px;
}
.page-numbers>li{
	background-color:#ededed;
	border-right:1px solid #dedede;
}
.page-numbers>li:first-child{
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}
.page-numbers>li:last-child{
	border-bottom-right-radius:4px;
	border-top-right-radius:4px;
	border-right:0px;
}
.page-numbers>li>a, .page-numbers>li>span{
	padding-left:15px;
	padding-right:15px;
	line-height:40px;
}
.page-numbers>.p-current{
	background-color:#dedede;
}

/*CONTAINERS*/
.container{
	width:1000px;
	margin:auto;
	padding-left:20px;
	padding-right:20px;
}
.container-small{
	width:400px;
}

.paper{
	background-color:white;
	padding:20px;
	border-radius:5px;
	margin-bottom:20px;
}

/*POSITIONING*/
.relative{
	position:relative;
}
.block{
	display:block;
	width:100%;
}
.flex{
	display:flex;
}
.flex-center{
	align-items: center;
  	justify-content: center;
}
.flex-middle{
  	justify-content: center;
}
.flex-vert-middle{
	align-items: center;
}
.grow{
	flex-grow:1;
}
.justify{
	text-align:justify;
}

/*MARGINS*/
.mt-20{
	margin-top:20px;
}
.mb-20{
	margin-bottom:20px;
}
.mr-10{
	margin-right:10px;
}
.mr-5{
	margin-right:5px;
}
.mb-0{
	margin-bottom:0px;
}

/*PADDINGS*/
.pd-10{
	padding:10px;
}

/*EXTRA PADDING*/
.split-equal>div:first-child{
	padding-right:10px;
    /*max-width: 50%;*/
}
.split-equal>div:last-child{
	padding-left:10px;
    max-width: 50%;
}

/*FORMS AND BUTTONS*/
input, .btn{
    height: 40px;
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 15px;
}
input[type="text"], input[type="password"], input[type="email"]{
	background-color:white;
    border: 1px solid #dedede;
    color: gray;
}
input[type="submit"], .btn-primary{
	background-color: #3577e0;
	border: 0px;
	color: white;
}
input[type="submit"]:hover, .btn-primary:hover{
	cursor: pointer;
	background-color: #2758a5;
}
input[readonly]{
    background-color:#E9E9E9;
}

/*BACKGROUND COLORS*/
.bg-primary{
	background-color:#3577e0;
}
.bg-warning{
	background-color:#f25a21;
}
.bg-success{
	background-color:#69af00;
}
.bg-gray{
	background-color:#dedede;
}
.bg-ltgray{
	background-color:#efefef;
}

/*FONT COLORS*/
.f-dark{
	color:#2b2b2b;
}
.f-white{
	color:white;
}
.f-black{
	color:black;
}
.f-gray{
	color:gray;
}
.f-red{
	color:#E03445;
}
.f-blue{
	color:#3577E0;
}

/*MISC*/
.ul, .ol{
	padding-left:25px;
}
.sidebar{
	width:200px;
	flex-shrink:0;
	margin-right:20px;
}
.clear-a{
	text-decoration:none;
	color:#2b2b2b;
}
.link-table{
	min-width:920px;
}
.max-full{
	max-width:100%;
}
.wide-holder{
	width:100%;
	overflow-x:auto;
}
.wrap{
    flex-wrap: wrap;
}
.delete-button{
	font-size:18px;
}
.f-red-override:hover{
	color:#E03445 !important;
}
.copy-me{
	position:relative;
}
.copy-me>.hover-icon{
	position:absolute;
	top:5px;
	cursor:pointer;
	font-size:18px;
	width:30px;
	height:30px;
	border-radius:15px;
	padding:5px;
}
.hover-icon:hover{
	background-color:white;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21);
}
.copy-me>.copy-icon{
	right:6px;
}
.copy-me>.dropdown-icon{
	right:38px;
	padding-top:6px;
}
.copy-dropdown{
	width:100%;
	height:116px;
    background-color:#E9E9E9;
    display:none;
    position:absolute;
    left:0px;
    border: 1px solid #dedede;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21);
	border-radius: 4px;
}
.copy-dropdown>ul{
	padding:0px;
	margin:0px;
	list-style:none;
}
.copy-dropdown>ul>li{
	width:100%;
	font-size:15px !important;
	color: rgb(128, 128, 128);
	text-align:left;
	padding:10px;
	border-radius: 4px;
	font-size:17px;
}
.copy-dropdown>ul>li:hover{
	background-color:#dedede;
	cursor:pointer;
}

.remember-me{
	height:30px;
}
.remember-me>label, .remember-me>input{
	height:30px;
}
.user-table tr > th:last-child, tr > td:last-child{
	width:100px;
}

/*FIXES*/
.grecaptcha-badge {
	line-height:50px !important;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
}


/*MEDIA RULES*/
@media only screen and (max-width: 1020px) {
    .container {
        width:100%;
    }
}
@media only screen and (max-width: 800px) {
	.split-equal>div:first-child{
		padding-right:0px;
		margin-bottom:15px;
		max-width:100%;
	}
	.split-equal>div:last-child{
		padding-left:0px;
		max-width:100%;
	}
	.menu-bleak>li, .menu-bleak>li>a{
		width:100%;
		text-align:center;
	}
}
@media only screen and (max-width: 440px) {
	.newline-wrap>input[type="text"]{
		margin-bottom:15px;
		margin-right:0px;
	}
	.newline-wrap>input[type="submit"]{
		width:100%;
	}
}